#{extends 'main.html' /}
#{set title:'工作日报平台' /}

<div id="login">
    
    

    #{form @login(), id:'formLogin'}
        <p class="field">
            <label>用户名:</label>
            <input type="text" name="username" size="19" value="${flash.username}" />
        </p>
        <p class="field">
            <label>密码:</label>
            <input type="password" name="password" size="19"/>
        </p>    
        <p class="buttons">
            <input type="submit" value="登录" />
        </p> 
    #{/form}

    <p>
        <a href="@{register()}">注册新用户</a>
    </p>

</div>

<script type="text/javascript" charset="${_response_encoding}">
    sessvars.$.clearMem()
</script>
